<html>
<head>
     <% include ../partials/head %>
</head>
    <body class="container-fluid">



    <div class="row">
          <header>
              <% include ../partials/header %>
          </header>

      </div>

        <div class="row">
            <center>
                <div class="col-xs-12">

                <h1>Welcome to the site</h1>
                <p>This website is for trading books with other people!<p>
                  <h2>Press {All books} on navigation bar to see books people trading!</h2>
                    </div>
            </center>
        </div>

     <footer>
            <% include ../partials/footer %>
    </footer>

    </body>
</html>


<html>


    </body>
</html>
